// # VARIABLES
// =========================================================================

$pokemon_red: #ef5350;
$pokemon_yellow_dark: #eabb1d;
$pokemon_yellow_light: #fac71b;
$pokemon_yellow: #feca1b;
$pokemon_blue: #355a98;

$error: #ff0000;
$warning: orange;
$success: #41921f;
